@font-face {
    font-family: 'Grape Nuts';
    src: url('../fonts/GrapeNuts-Regular.eot');
    src: url('../fonts/GrapeNuts-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GrapeNuts-Regular.woff2') format('woff2'),
        url('../fonts/GrapeNuts-Regular.woff') format('woff'),
        url('../fonts/GrapeNuts-Regular.svg#GrapeNuts-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.eot');
    src: url('../fonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dosis-Regular.woff2') format('woff2'),
        url('../fonts/Dosis-Regular.woff') format('woff'),
        url('../fonts/Dosis-Regular.svg#Dosis-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dosis bold';
    src: url('../fonts/Dosis-Bold.eot');
    src: url('../fonts/Dosis-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dosis-Bold.woff2') format('woff2'),
        url('../fonts/Dosis-Bold.woff') format('woff'),
        url('../fonts/Dosis-Bold.svg#Dosis-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Slabo 27px';
    src: url('../fonts/Slabo27px-Regular.eot');
    src: url('../fonts/Slabo27px-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Slabo27px-Regular.woff2') format('woff2'),
        url('../fonts/Slabo27px-Regular.woff') format('woff'),
        url('../fonts/Slabo27px-Regular.svg#Slabo27px-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
